body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  height: 100vh;
  justify-content: center; /* center horizontally */
  align-items: center;
}

.App {
  text-align: center;
  padding: 20px;
}

h1 {
  color: #333;
}

.card-container {
  display: flex;
  justify-content: center; /* center cards horizontally */
  align-items: center; /* center cards vertically */
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}

.single-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  
  text-align: center;
}

.single-card .img img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

.single-card h2,
.single-card h3 {
  margin: 8px 0;
  color: #444;
}
